<div id="container" class="container-fluid">
  <p class="h1">Employees</p>
  <div class="row">
    <mat-card *ngFor="let item of employees" tabindex="0" class="shadow">
      <mat-card-title-group>
        <img mat-card-avatar src="{{item.photo}}" alt="{{item.name}}'s photo">
        <mat-card-content>
          <p><b>Name: </b>{{item.name}}</p>
          <p><b>Title: </b> {{item.title}}</p>
          <p><b>Email: </b> {{item.email}}</p>
        </mat-card-content>
      </mat-card-title-group>
        <mat-card-actions id="buttons">
          <button mat-fab (click)="onClick(item, 'update')"><mat-icon aria-label="edit">edit</mat-icon></button>
          <button mat-fab color="warn" (click)="onClick(item, 'delete')"><mat-icon aria-label="delete">delete</mat-icon></button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>


<div>
  <div *ngIf="employees?.length==0" class="alert alert-info" role="alert">
    <p class="h4 alert-heading">NO EMPLOYEES FOUND!</p>
  </div>
</div>
