mat-card {
  max-height: 30pc;
  max-width: 20pc;
  margin: 1pc;
}

mat-card-title-group {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

.row {
  justify-content: center;
}
