<div class="container">
  <p class="h1">Add New Employee</p>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" >
    <mat-form-field appearance="outline">
      <mat-label>Employee Name</mat-label>
      <input matInput type="text" placeholder="Jon Smith" name="name" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Job Title</mat-label>
      <input matInput type="text" placeholder="Accountant" name="title" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput type="text" placeholder="j.smith@egovja.com" name="email" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" placeholder="999-999-9999" name="phone" ngModel required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Photo URL</mat-label>
      <input matInput type="text" placeholder="https://photo.com/photo.png" name="photo" ngModel required>
    </mat-form-field>
    <div>
      <button color="primary" mat-raised-button type="submit">Add Employee</button>
    </div>
  </form>
</div>





